.App {
  display: inline-block;
  flex-direction: column;
  width: 90%;
  height: 90%;
}
.nupp {
  border: 6px dotted green;
}

.nupp:hover {
  background-color: darkgray;
  width: 20%;
  height: 20%;
}

.pilt {
  width: 500px;
  border-radius: 20px;
}
